
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #1F1E1E;
  background-color:#F6F8FA;
}

/* Default styles for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  margin: 0 0 10px 0;
  line-height: 1.25;
  color: #1F1E1E;
}

/* Default styles for paragraphs */
p {
  margin: 0 0 15px 0;
}

/* Default styles for links */
a {
  color:  #86C559;;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Container utility class */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.margin-b-zero{
margin-bottom: 0px;
}