// components/LeftPanel.module.scss
@import '../public/styles/variables';


.leftPanel {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $white-color;
  border-right: 1px solid $stroke-color;
  color: #000;
  transition: transform 0.3s;
  overflow: hidden;

  &.closed {
    transform: translateX(-100%);
  }

  .logo {
    padding: 20px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .toggleButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: $black-color;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
  }

  .nav {
    padding: 20px 0;

    h3 {
      margin: 0;
      padding: 10px 20px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 10px 0;
        // display: flex;
        align-items: center;

        a {
          color: $black-color;
          text-decoration: none;
          display: block;
          padding: 10px 20px;
          display: flex;
          align-items: center;

          &:hover {
            // background-color: $green-100;
            color: $green-100;
          }

          svg {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .separator {
    border-top: 1px solid $stroke-color;
    margin: 20px 0;
  }

  .nav .dashboardActive {
    background-color: $primary-color;
    width: 90%;
    border-radius: 10px;
    color: $white-color;
    margin: 0 auto;

    a {
      color: $white-color;

      &:hover {
        background-color: $green-100;
        color: $white-color;
        border-radius: 10px;
      }

      svg {
        color: $white-color;
      }
    }
  }

  .userProfile {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: $profile-bg;
    border-radius: 12px;
    padding: 10px;
    color: $black-color;
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .userInfo {
      display: flex;
      flex-direction: column;

      .name {
        margin: 0;
        font-size: 16px;
        // color: $stroke-color;
      }

      p {
        margin: 5px 0 0;
        font-size: 14px;
        color: $profile-rank;
      }
    }
  }
   .textHeading {
        margin: 0;
        font-size: 15px;
        color: $stroke-color;
        font-weight: normal;
      }
}
