.topNav{
  position: fixed;
    text-align: right;
   
    margin: auto;
    top: 25px;
    right: 370px; 
    ul{
        text-decoration: none;
        display: inline-block;

        li{
            display: inline;
            padding: 1rem;
        }

    }
}